<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Users</title>
</head>
<body>
<div th:unless="${#lists.isEmpty(users)}">
    <h3>List of users</h3>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName}"></td>
            <td><a th:href="@{/editUser/{id}(id=${user.getId()})}">Edit</a>
                <a th:href="@{/deleteUser/{id}(id=${user.getId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h4><a href="/addUser">Add new user</a></h4>
</body>
</html>